
.tag_selector {
	width:70%;
	display: inline-block;
	padding: 1px;
	font-size:12px;
}

.tag_selector .tag_selector_link {
	display: inline-block;
	background: url(../icon/tagselector/tag_selector_sep.png) 100% 50% no-repeat;
	_background-image: url(../icon/tagselector/tag_selector_sep.gif);
	padding: 0 9px 0 0;
	padding-right: 10px\9;
	color: #fff;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
	_width:0;
	word-wrap: break-word; 
}

.tag_selector .tag_selector_link a {
	color: #83B13E;
	display: block;
	text-decoration: none !important;
	white-space: nowrap;
	line-height: 16px;
	height: 20px;
	padding: 1px 6px 1px;
	_padding: 1px 6px 1px;
}

.tag_selector .tag_selector_first a {
	border-radius: 2px 0 0 2px;
}

.tag_selector .tag_selector_more {
	cursor: pointer;
	background-image: url(../icon/tagselector/tag_selector_more.png);
	_background-image: url(../icon/tagselector/tag_selector_more.gif);
	width: 15px;
	/* 多余的改动 */
	/* position: relative; */
}



.tag_selector .tag_selector_more.active,
.tag_selector .tag_selector_more:hover
{
	background-color: #fff !important;
}

.tag_selector .tag_selector_last {
	background-image: url(../icon/tagselector/tag_selector_last.png);
	_background-image: url(../icon/tagselector/tag_selector_last.gif);
}

.tag_selector_menu {
	position:absolute;
	z-index: 100;
	display: block;
	background-color: #fff;
	color: #000;
	border:1px solid #999\9;
	box-shadow:rgba(0,0,0,0.5) 0 4px 8px;
	filter: progid:DXImageTransform.Microsoft.Shadow (Color=#000000, Direction=135, Strength=2);
}

.tag_selector_menu .loading {
	background: url(../icon/tagselector/loading.gif) no-repeat center;
	width: 128px;
	height: 22px;
}

.tag_selector_menu .tag_item {
	display: block;
	clear:both;
	cursor: pointer;
}

.tag_selector_menu .tag_item td {
	vertical-align: middle;
}

.tag_selector_menu .tag_item .ckb input {
	margin-bottom: 5px;
}

.tag_selector_menu .tag_item .text {
	padding: 2px 10px 2px 5px;
	min-width : 80px;
	font-size: 12px;
	_width: 80px;
	white-space: nowrap;
}

.tag_selector_menu .tag_item .number {
	display: block;
	padding: 1px 4px;
	color: #999;
	border-radius:2px;
	font-size: 10px;
	font-weight: bold;
}

.tag_selector_menu .tag_item .flag {
	width: 8px;
	height: 8px;
}

.flag_more {
	background: url(../icon/tagselector/collapse.png) no-repeat right center;
	_background-image: url(../icon/tagselector/collapse.gif);
}

.tag_selector_menu .tag_item_active td {
	background-color: #7498E0;
	color: #fff;
}

.tag_selector_menu .tag_item_active .number {
	color: #ccc;
}