<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="basedao" class="com.genee.timertask.framework.core.base.dao.MysqlBaseDao" autowire="default"/>
	
	<!-- 要调用的工作类 -->  
    <bean id="reportService" class="com.genee.timertask.module.statistics.TaskEquipmentIndex">
    	<property name="days">
    		<value>30</value>
    	</property>
    </bean>  
	
</beans>